html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

img{
    height: auto;
    width: 800px;
}

h2{
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}

ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

ol{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}